<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <ResourceId>/subscriptions/68f4967a-211c-436f-828e-b10628e60335/resourceGroups/FDRContest/providers/Microsoft.Web/sites/fdrcontest</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fdrcontest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>2d21111c-86aa-4d7f-a268-3fa899b09102</ProjectGuid>
    <publishUrl>ftp://waws-prod-bm1-009.ftp.azurewebsites.windows.net</publishUrl>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <FtpPassiveMode>true</FtpPassiveMode>
    <FtpSitePath>site/wwwroot</FtpSitePath>
    <UserName>fdrcontest\$fdrcontest</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>